#!/bin/bash
# --- Terraform env vars ---
# A `TF_` prefix tells Terraform to read this var.
# Terraform parses these variables in `variables.tf` removing prefix.

# A path to private SSH key file.
export TF_VAR_DEPLOY_PRIVATE_KEY_FILE="~/.ssh/id_rsa"

# Set a personal SSH access security rule for the instance like this
# "xxx.xxx.xxx.xxx/32"
# To get personal external IP-address dynamically use:
# "$(curl --silent http://ipecho.net/plain)/32"
export TF_VAR_DEPLOY_ALLOW_SSH_ACCESS_CIDR="$(curl --silent http://ipecho.net/plain)/32"

# --- Extra env vars ---
# For development. Disable host key verification.
export ANSIBLE_HOST_KEY_CHECKING=False
